.header-container {
    background: rgb(20, 20, 20);
    display: flex;
    align-items: center;

    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    
    .header-left {
        display: flex;
        height: 100%;
        
        color: #f9f9f9;
        font-weight: 700;
    }

    .logo {
        padding: 0 16px 0 16px;
        height: 100%;
        line-height: 80px;
        margin: 0 1.5em;
        vertical-align: middle;
        text-decoration: none;
        color: red;
        font-size: 18px;
    }

    .divider {
        display: inline-block;
        border-left: 2px solid gray;
        font-size: 14px;
        margin: 0 0.25em 0 0.25em;
        opacity: 0.4;
        height: 30px;
    
    }
    .header-right {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        div{
            display: flex;
            

        }

        .play-button{
            margin: 15px 20px;
            text-decoration: none;
            color: #f9f9f9;
            font-weight: 400;
            letter-spacing: 0.1em;
            border-radius: 2px;
            line-height: 16px;
            padding: 12px 0;
            background-color: rgb(64, 189, 249);
            min-width: 129px;
            max-width: 220px;
            font-size: 18px;
            text-overflow: ellipsis;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
        }

        .login-button{
            margin: 0px 20px;
            text-decoration: none;
            color: #f9f9f9;
            font-weight: 800;
            line-height: 80px;
            font-size: 18px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        
    }
}