.container-height{
    height: 80vh;
    background-color: rgb(51, 51, 51);
    padding: 0;     
}

.godlike{
    color: gold;
    font-size: large;
}

.godlike:nth-child(2)::after{
    content: "[GODLIKE]";
    margin-left: 10px;
}

.columns{
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 800;
    
}

.owner{
    background-color: gray;

}

.rank{
    padding-left: 10px;
}

.wins {
    padding-right: 10px;
}