.leaderboard{
display: block;
		background-image: url("../../resources/img/about2.png"); /* source "https://mocah.org/540574-trenches-video.html" */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
   font-family: cursive;
   
  
		}



.container-height{
    height: 80vh;
   background: rgba(51, 51, 51, 0.65);
    padding: 0;
	border-radius: 15px;
	width:70%;
}

.godlike{
    color: gold;
    font-size: large;
}

.godlike:nth-child(2)::after{
    content: "[GODLIKE]";
    margin-left: 10px;
}

.columns{
    background-color: gainsboro;
    margin: 0;
    color: black;
	font-size: 25px;
	font-family: fantasy;
	
	
    
}

.owner{
    background-color: gray;

}

.rank{
    padding-left: 10px;
}

.wins {
    padding-right: 10px;
}
