html, body, #root, .App {
	height: 100%;
	background-color: rgb(29, 29, 29);
	font-family: "Purista-Bold", sans-serif;
  }
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	
	padding: 0;
	margin: 0;
}

html {
	padding: 0;
	margin: 0;
	height: 100%;
	line-height: 1.15;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
