.navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
   box-sizing: border-box;
   width: 50%;

 li {
    display: inline;
    height: 100%;
    }

 .link {
    text-decoration: none;
    color: #f9f9f9;
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 0.85em;
    overflow: hidden;
    letter-spacing: .1em;
    display: inline-block;
    height: 100%;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 80px;
    font-weight: 800;
    font-size: 14px;
    }

    a:hover {
        box-shadow: rgb(64, 189, 249) 0px -4px 0px inset;
    }

}

